ul {
  list-style-image: url(images/smiley.gif);
}
h2 {
  text-align: center;
}
h3,
p {
  text-align: left;
  padding-left: 250px;
  padding-right: 250px;
}
h5 {
  text-align: center;
}
body {
  background-color: lightblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}